@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto;
}


.header{
  display: flex;
  justify-content:space-between;
  color: rgb(87,87,87);
  margin:1rem;
  width: 97%;

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
h1 {
  font-size: 7vh;
  font-weight: 300;
  letter-spacing: 5px;
  border-bottom: 1px solid rgb(87, 87, 87);
  color: rgb(86, 86, 86);
  padding: 0px 5%;
  margin-top: 5vh;
}
.btnClear {
  align-self: flex-end;
  border: none;
  width: 82px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0);
  color: #ffffff;
  border: 1px solid rgb(255, 103, 103);
  background-color:rgb(255, 103, 103);
  padding: 0.65rem;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
  transition: 0.1s;
  cursor:pointer;
}
.btnClear:hover {
  background-color:white;
  color: #ff6868;
}
.btnClear:active{
    color: #ffffff;
    background-color:#ff6868;
}

ul {
  margin-top: 2rem;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.listItem {
  background-color: white;
  list-style-type: none;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  font-size: 1.2rem;
  font-weight: 350;
  animation: appear 0.6s;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

@keyframes appear {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
.listItem:hover {
  background-color: rgb(235, 235, 235);
}
.btnDelete {
  border: none;
  width: 45px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
  transition: 0.1s ease-out;
}.btnDelete:hover{transform: scale(1.2)}
.btnEdit {
  border: none;
  width: 45px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
  transition: 0.1s ease-out;
}.btnEdit:hover{transform: scale(1.2)}
.btnDone {
  background-color: rgb(255, 255, 255);
  border: none;
  width: 45px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;  
}

.doneImg {
  background-color: rgb(0, 186, 0);
  width: 100%;
  height: 100%;
  padding: 0.8rem;
}

.unDoneImg {
  background-color: rgb(215, 215, 215);
  width: 100%;
  padding: 0.8rem;
  opacity: 0.5
}
.done{
  opacity: 0.4;
  
}
.dark {
  background-color: #2b2d42;
  color: white;
}
.taskList.dark {
  border: .1rem solid white;
}

img {
  width: 20px;
}

.inputTask {
  padding: 15px;
  height: 100%;
  width: 100%;
  border: none;
  font-size: 1.3rem;
  color: rgb(65, 65, 65);
  background-color: rgb(232, 232, 232);
}

.inputTask:focus-visible {
  outline: 1px solid rgb(79, 202, 255);
}

.add {
  height: 100%;
  width: 92px;
  border: none;
  font-size: 2rem;
  background-color: rgb(79, 202, 255);
  color: white;
  transition: 0.09s;
  outline:none;
}
.add:active{
    background-color: white;
    color:rgb(79, 202, 255);
    border:1px solid rgb(79, 202, 255);
}

button {
  cursor: pointer;
}

.editAndDelete {
  display: flex;
  height:100%;
  align-items: center;
  justify-content: center;
}

.formAddTask {
  margin-top: 5vh;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  transition: 0.1s;
}
.formAddTask:hover {
  transform: scale(1.01);
}
.itemContent {
  display: flex;
  justify-content: end;
  height: 100%;
  display: flex;
  align-items: center;
}

.theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1.5rem;
  width: 6.4rem;
  cursor: pointer;
}

.theme img {
  width: 1.4rem;
  margin-right: .2rem;
}




.theme img:last-child {
  width: 1.3rem;
  margin-left: .2rem;
}

.theme .themeBar {
  position: relative;
  width: 5rem;
  border: .1rem solid #2b2d42;
  border-radius: 2.5rem;
}

.theme .themeBar.dark {
  border: .1rem solid white;
}

.theme .ball {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  background: #2b2d42;
  content: "";
  -webkit-transition: left 1s;
  transition: left 1s;
}

.theme .ball.dark {
  background: white;
}

.theme .ball.change {
  left: calc(100% - 1.3rem);
}


/* MODAL */

.modal{
  background: rgb(0, 0, 0, 0.3);
  width: 100vw;
  height:100vh;
  position:fixed;
  display: flex;
  align-items: center;
  justify-content:center
}
.modalContent{
  background:white;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding:3rem 4rem 4rem 4rem;
  width: 60%;
  box-shadow:2px 5px 7px rgb(128, 128, 128);
  animation:appear 0.2s
}
.hideModal{
  display: none;
}
.formUpdate{
  display: flex;
  flex-direction: column;
  width:100%;
  height:100%;
  align-items: center;
}
.editTaskInput{
  width:80%;
  height:40px;
  padding: 1rem;
  border: none;
  font-size:1rem;
  color: rgb(65, 65, 65);
  background-color: rgb(232, 232, 232);
}
.editTaskInput:focus-visible {
  outline: 1px solid rgb(79, 202, 255);
}
.btnUpdate{
  width: 80%;
  height:40px;
  margin-top: 2px;
  border: none;
  font-size: 0.9rem;
  background-color: rgb(79, 202, 255);
  color: white;
  outline:none;
  
}

.btnUpdate:hover{
  background-color: white;
  color:rgb(79, 202, 255);
  border:1px solid rgb(79, 202, 255);
}
.btnUpdate:active{
  background-color:rgb(79, 202, 255); 
  color:white;
}
h2{
  margin-bottom:2rem;
  color: rgb(69, 69, 69);
  font-size: 5vh;
  font-weight: 400;
  letter-spacing: 5px;
  border-bottom: 1px solid rgb(87, 87, 87);
  color: rgb(86, 86, 86);
  padding: 0px 5%;
}