/* Cores de thema */

$white-color: #ffffff;

$gray-color-700: #121214;
$gray-color-600: #202024;
$gray-color-500: #29292e;
$gray-color-400: #323238;
$gray-color-300: #7c7c8a;
$gray-color-200: #d1d1d1;
$gray-color-100: #e4e4e4;

$blue-light: rgb(79, 202, 255);

$red-light: rgb(255, 100, 100);
